@model CamenMVC.Models.SottoMenu

@{
    ViewBag.Title = "Dettagli sottomenu";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestoMenu.TestoMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestoMenu.TestoMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestoSmenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestoSmenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubblica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubblica)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.Smenu_Id}, new { @class = "btn btn-success" })
    @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-primary" })
</p>
