@model IEnumerable<CamenMVC.Models.Linee>

@{
    ViewBag.Title = "Aree";
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Linea, "Edit", new { id = item.Linea_Id }, new { @class = "glyphicon glyphicon-pencil" })
        </td>
        <td>
            @if (item.Documentis.Count > 0)
            {
                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#@item.Linea_Id" aria-expanded="false" aria-controls="@item.Linea_Id">
                    @item.Documentis.Count() collegamenti
                </a>
                <div class="collapse" id="@item.Linea_Id">
                    <div class="well">
                        @foreach (var item1 in item.Documentis)
                        {
                            <div><a href="@Url.Action("Edit", "Documentis", new {id = @item1.Documento_Id})"> @item1.NomeFile</a></div>
                        }
                    </div>
                </div>

            }
            else
            {
                @Html.ActionLink(" Elimina", "Delete", new { id = item.Linea_Id }, new { @class = "btn btn-xs btn-danger glyphicon glyphicon-remove" })

            }
        </td>
    </tr>
}

</table>
@Html.ActionLink("Fatto", "Index", "Documentis", null, new { @class = "btn btn-success" })