@model IEnumerable<CamenMVC.Models.Sessioni>

@{
    ViewBag.Title = "Sessioni";
}

<h2>@ViewBag.Title</h2>
<h2><a href="@Url.Action("Create", "Sessionis")" class="btn btn-primary"><span class="badge">@ViewBag.SessioniCount</span> Nuovo</a></h2>
<table class="table table-hover">
@foreach (var item in Model) {
    <tr>
        <td>
            <span>
                @item.Sessione_Id - 
                @Html.ActionLink(@item.Sessione, "Edit", new { id = item.Sessione_Id }, new { @class = "glyphicon glyphicon-pencil" })
                
                </span>
        </td>
        <td>
            @if (item.Documentis.Count > 0)
            {
                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#@item.Sessione_Id" aria-expanded="false" aria-controls="@item.Sessione_Id">
                    @item.Documentis.Count() collegamenti
                </a>
                <div class="collapse" id="@item.Sessione_Id">
                    <div class="well">
                        @foreach (var item1 in item.Documentis)
                        {
                            <div><a href="@Url.Action("Edit", "Documentis", new {id = @item1.Documento_Id})"> @item1.NomeFile</a></div>
                        }
                    </div>
                </div>

            }
            else
            {
                @Html.ActionLink(" Elimina", "Delete", new { id = item.Sessione_Id }, new { @class = "btn btn-xs btn-danger glyphicon glyphicon-remove" })

            }
        </td>
    </tr>
}

</table>
<hr />
@Html.ActionLink("Fatto", "Index", "Documentis", null, new { @class = "btn btn-success" })