@model CamenMVC.Models.Menu

@{
    ViewBag.Title = "Cancella";
}

<h2>@ViewBag.Title</h2>

<h3>Se sicuro di voler cancellare la voce di menu <strong><em>@Model.TestoMenu</em></strong>?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Posizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestoMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestoMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubblica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubblica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" /> 
            <a href="@Url.Action("Index", "Menus")" class="btn btn-success">Annulla</a>
        </div>
    }
</div>
