@model CamenMVC.Models.Menu

@{
    ViewBag.Title = "Dettagli menu";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Posizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestoMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestoMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubblica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubblica)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.Menu_Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-primary" })
</p>
