@model CamenMVC.Models.Menu

@{
    ViewBag.Title = "Edit";
}

<h2>Modifica assegnaziona menu a ruoli </h2>
<h4>MENU: <span class="text-danger">@Html.DisplayFor(model => model.TestoMenu)</span></h4>
<span class="label label-info">ATTENZIONE: tutti i ruoli già assegnati verrano modificati con la nuova selezione</span>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">
                Seleziona i ruoli
            </label>
            <div class="col-md-10">
                @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                    <input type="checkbox" name="SelectedRoles" value="@item.Text" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" })
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assegna" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div><span class="label label-danger">@ViewBag.Message</span></div>
<div>
    @Html.ActionLink("Annulla", "Edit", "Menus", new { id = @Model.Menu_Id }, null)
</div>

