@model CamenMVC.Models.MenuRuoli

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuRuoli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestoMenu.TestoMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestoMenu.TestoMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuRuoli_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
