@model IEnumerable<CamenMVC.Models.MenuRuoli>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestoMenu.TestoMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruolo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestoMenu.TestoMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruolo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MenuRuoli_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.MenuRuoli_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MenuRuoli_Id })
        </td>
    </tr>
}

</table>
