@model CamenMVC.Models.Splash

@{
    ViewBag.Title = "Delete";
}

<h2>Cancella pagina Splash</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SottoTitolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SottoTitolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Testo)
        </dt>

        <dd>
            @Html.Raw(Model.Testo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataI)
        </dt>

        <dd>
            @Model.DataI.ToString("dd/MMM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataF)
        </dt>

        <dd>
            @Model.DataF.ToString("dd/MMM/yyyy")
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" />
            @Html.ActionLink("Annulla", "Index", null, new {@class="btn btn-success" })
        </div>
    }
</div>
