@model CamenMVC.Models.ContactViewModels

@{
    ViewBag.Title = "Contatti e informazioni";
}
<h2>@ViewBag.Title.</h2><hr/>

<address>
    Associazione Sintotermico Camen<br />
    Via S. Cristoforo, 3-5 20144 Milano<br/>
    P.I.:  04855900967 - C.F.: 97380760153<br />
    Telefono 02.477.166.05 GSM: 342.13.82.379 Fax 02.477.166.05
<br />
</address><hr class="hr1"/>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <span class="badge">Campi obbligatori *</span>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <span class="col-md-2 control-label">@Html.LabelFor(m => m.Email) *</span>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <span class="col-md-2 control-label">@Html.LabelFor(m => m.Nome) *</span>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="col-md-2 control-label">@Html.LabelFor(m => m.Cognome) *</span>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cognome, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="col-md-2 control-label">@Html.LabelFor(m => m.Indirizzo) *</span>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Indirizzo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telefono, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Professione, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Professione, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Organizzazione, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Organizzazione, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="col-md-2 control-label">@Html.LabelFor(m => m.Richiesta) *</span>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Richiesta, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Privacy, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <h4>
                @Html.CheckBoxFor(m => m.Privacy)
                <br/>Dichiaro di aver preso visione del <a href="http://www.crctest.cloud/Content/Documenti/Privacy-V1.pdf?id=21" target="_blank"> documento della privacy</a>
            </h4>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input  type="submit" class="btn btn-success" value="Invia" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // estensione per validare checkbox con valore true
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function(value, element, param) {
            if(element.type === 'checkbox') {
                // se è chekced restituisco true
                return element.checked;
            } else {
                // altrimenti il default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
}
