@model CamenMVC.Models.Documenti

@{
    ViewBag.Title = "Nuovo documento";
}

<h2>@ViewBag.Title</h2>
<h3>documenti pubblici: <input id="pub" type="checkbox" /></h3>

@using (Html.BeginForm("Create", "Documentis", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
         <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Categoria_Id, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Url.Action("Create", "Categories")" class="btn btn-xs btn-success pull-left"><span class="glyphicon glyphicon-plus"></span></a>
                @Html.DropDownList("Categoria_Id", null, "Seleziona categoria", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Categoria_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Evento_Id, "Evento", htmlAttributes: new {@class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Url.Action("Create", "Eventis")" class="btn btn-xs btn-success pull-left"><span class="glyphicon glyphicon-plus"></span></a>
                @Html.DropDownList("Evento_Id", null, "Seleziona evento", htmlAttributes: new { @id = "ddevento", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Evento_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group label-success divpub">
            @Html.LabelFor(model => model.Linea_Id, "Area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Url.Action("Create", "Linees")" class="btn btn-xs btn-success pull-left"><span class="glyphicon glyphicon-plus"></span></a>
                @Html.DropDownList("Linea_Id", null, "Seleziona area", htmlAttributes: new { @id = "ddlinea", @class = "form-control" })
                Definisce l'appartenenza ai documenti pubblici
                @Html.ValidationMessageFor(model => model.Linea_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group divpub">
            @Html.LabelFor(model => model.Sessione_Id, "Sessione", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Url.Action("Create", "Sessionis")" class="btn btn-xs btn-success pull-left"><span class="glyphicon glyphicon-plus"></span></a>
                @Html.DropDownList("Sessione_Id", null, "Seleziona sessione", htmlAttributes: new { @id = "ddsessione", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sessione_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Oratore, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Oratore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Oratore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titolo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titolo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titolo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descrizione, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Riferimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Riferimento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Riferimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lingua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lingua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lingua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="NomeFile" id="NomeFile" />
                @*@Html.EditorFor(model => model.NomeFile, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.NomeFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-success" />
                @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@section Scripts {
<script src="Scripts/moment.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script>
    $('#pub').change(function () {
        if (this.checked) {
            $('.divpub').hide();
            $('#ddlinea').val("1");
            $('#ddsessione').val("1");
        }
        else {
            $('.divpub').show();
        }
    })
</script>
}