@model CamenMVC.Models.Documenti

@{
    ViewBag.Title = "Delete";
}

<h2>Cancella documento</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento.Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea.Linea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea.Linea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sessione.Sessione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessione.Sessione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oratore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oratore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Riferimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Riferimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lingua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lingua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFile)
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella documento" class="btn btn-danger" />
            @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
