@model CamenMVC.Models.Documenti

@{
    ViewBag.Title = "Details";
}

<h2>Dettagli documento</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento.Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea.Linea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea.Linea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sessione.Sessione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessione.Sessione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oratore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oratore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

       <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Model.Data.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Riferimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Riferimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lingua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lingua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFile)
        </dd>

    </dl>
</div><hr/>
<p>
    @Html.ActionLink("Modifica", "Edit1", new { id = Model.Documento_Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-primary" })
</p>
