@model IEnumerable<CamenMVC.Models.Documenti>
@using Microsoft.AspNet.Identity

<h2>Biblioteca Scuola Sintotermico Camen</h2>
<h4>Ricerca per categorie</h4>
@*Menu top navigazione ricerva files*@
<table class="table-menu">
    <tr>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("IndexUt", "Documentis")" class="label label-primary">Categoria</a><br />
                    <span>@Request.QueryString["cat"]</span>
                </label>
            </span>
        </td>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("Eventi", "Documentis", new {id = Request.QueryString["categoria"], categoria = Request.QueryString["categoria"], cat = Request.QueryString["cat"] })" class="label label-primary">Evento</a><br />
                    <span>@Request.QueryString["eve"]</span>
                </label>
            </span>
        </td>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("Linee", "Documentis", new { id = Request.QueryString["categoria"], categoria = Request.QueryString["categoria"],
                            cat = Request.QueryString["cat"],
                            evento = Request.QueryString["evento"],
                            eve = Request.QueryString["eve"],
                            linea = Request.QueryString["linea"],
                            lin = Request.QueryString["lin"]
                        })" class="label label-primary">Area</a><br />
                    <span>@Request.QueryString["lin"]</span>
                </label>
            </span>

        </td>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("Sessioni", "Documentis", new { id = Request.QueryString["categoria"], categoria = Request.QueryString["categoria"],
                            cat = Request.QueryString["cat"],
                            evento = Request.QueryString["evento"],
                            eve = Request.QueryString["eve"],
                            linea = Request.QueryString["linea"],
                            lin = Request.QueryString["lin"],
                            sessione = Request.QueryString["sessione"],
                            ses = Request.QueryString["ses"]
                        })" class="label label-primary">Sessione</a><br />
                    <span>@Request.QueryString["ses"]</span>
                </label>
            </span>

        </td>

        <td>
            <label class="label label-success">Files</label>

        </td>
    </tr>
</table>

<table class="table table-hover">
        <tr>
            <th colspan="7">
                <h4 class="label label-info pull-right">
                    Puoi scaricare solo i file con l'icona <span class="fa fa-download"></span> download
                    <a class="fa fa-info-circle" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    </a>
                </h4>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        Il download di alcuni files è riservato ad utenti con specifica autorizzazione.
                        Se sei interessato al documento, contattaci compilando l'apposito Form nel menù "Contatti - Segreteria".<br />
                        If you are interested in this document, please contact us filling in the Form you'll find in the menù tab "Contatti - Segreteria".
                    </div>
                </div>
            </th>
       </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Oratore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Riferimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lingua)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Oratore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @item.Data.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Riferimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lingua)
        </td>
        <td>
            @if (item.DocRuolis.Where(r => r.Documento_Id == item.Documento_Id).Count() > 0)
            {
                foreach (var itemr in item.DocRuolis.Where(r => r.Documento_Id == item.Documento_Id))
                {
                    if (User.IsInRole(itemr.RuoloId))
                    {
                        <a href="@Url.Content("~/Content/Documenti/" + @item.NomeFile)?id=@item.Documento_Id" class="fa fa-download fa-2x" title="@item.NomeFile" target="_blank"><span class="h6"> @itemr.RuoloId</span></a>
                    }
                }
            }
            else
            {
            }
        </td>
    </tr>
}

</table>
<div>
    
</div>