@model IEnumerable<CamenMVC.Models.Documenti>
<img src="~/Content/Immagini/biblioteca.png" class="img-usr pull-left" />
<h2>Biblioteca Scuola Sintotermico Camen</h2>
<h4>Ricerca per categorie</h4>
@*Menu top navigazione ricerva files*@
<table class="table-menu">
    <tr>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("IndexUt", "Documentis")" class="label label-primary h5">Categoria</a><br />
                    <span>@Request.QueryString["cat"]</span>
                </label>
            </span>
        </td>
        <td>
            <label class="label label-success"><span class="h5">Eventi</span></label><br/>
        </td>
    </tr>
</table>
<table class="table table-hover">
    @foreach (var group in Model.GroupBy(item => item.Evento))
            {
        <tr>
            <td class="h4">
                <a href="@Url.Action("Linee", "Documentis", new {
                    id = @group.Key.Evento_Id,
                    categoria = Request.QueryString["categoria"],
                    cat = Request.QueryString["cat"],
                    evento = @group.Key.Evento_Id,
                    eve = @group.Key.Evento
                })"
                   aria-expanded="false">
                    @group.Key.Evento
                </a>
            </td>
        </tr>
    }
</table>

