@model IEnumerable<CamenMVC.Models.Documenti>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Biblioteca riservata";
}

<img src="~/Content/Immagini/biblioteca.png" class="img-usr pull-left" /><h2>Biblioteca Scuola Sintotermico Camen</h2>
<input id="btncat" class="btn btn-primary" type="button" value="Ricerca per categorie" />
<input id="btnfiltro" class="btn btn-default" type="button" value="Ricerca globale" />
@*Inizio Ricerca per categoria*@
<table id="cat" class="table table-hover">
    @foreach (var group in Model.GroupBy(item => item.Categoria))
    {
        <tr>
            <td class="h3">

                <a href="@Url.Action("Eventi", "Documentis", new {id = @group.Key.Categoria_Id, categoria = @group.Key.Categoria_Id, cat = @group.Key.Categoria })" aria-expanded="false">
                    @group.Key.Categoria
                </a>
            </td>
       </tr>

    }
</table>
@*Fine Ricerca per categoria*@

@*Inizio Ricerca globale*@
<div id="filtro">
    <table class="table table-bordered" >
        <tr>
            <td>
                        <h4 class="label label-info">
                            Puoi scaricare solo i file con l'icona <span class="fa fa-download"></span> download
                            <a class="fa fa-info-circle" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            </a>
                        </h4>
                        <div class="collapse" id="collapseExample">
                            <div class="well-sm">
                                Il download di alcuni files è riservato ad utenti con specifica autorizzazione.
                                Se sei interessato al documento, contattaci compilando l'apposito Form nel menù "Contatti - Segreteria".<br />
                                If you are interested in this document, please contact us filling in the Form you'll find in the menù tab "Contatti - Segreteria".
                            </div>
                        </div>

            </td>
        </tr>
    </table>
    @if (User.Identity.IsAuthenticated)
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="11">

                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Evento.Evento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Linea.Linea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sessione.Sessione)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Oratore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Titolo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descrizione)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Riferimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lingua)
                    </th>
                    <th>
                    </th>
                </tr>

            </thead>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Evento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Linea.Linea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sessione.Sessione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oratore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titolo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    @item.Data.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Riferimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lingua)
                </td>
                <td>

                    @*pulsante download filtrato dai ruolo*@
                    @if (item.DocRuolis.Count() > 0)
                        {
                            foreach (var itemr in item.DocRuolis.Where(r => r.Documento_Id == item.Documento_Id))
                            {
                                if (User.IsInRole(itemr.RuoloId))
                                {
                        <a href="@Url.Content("~/Content/Documenti/" + @item.NomeFile)?id=@item.Documento_Id" class="fa fa-download fa-2x" title="@item.NomeFile" target="_blank"><span class="h6"></span></a>
                        <p>@itemr.RuoloId</p>
                                }
                            }
                        }
                        @*fine pulsante download filtrato dai ruoli*@
                    </td>
                </tr>
            }

        </table>
    }
    else
    {

        <div>
            <h3>Per visualizzare la lista dei documenti devi essere registrato al sito</h3>
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
            <a href="@Url.Action("Register", "Account")" class="btn btn-success">Registrati</a>

        </div>
    }
</div>
@*Fine ricerca globale*@

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cat').show();
            $('#filtro').hide();
        })
        $('#btncat').click(function () {
            $('#cat').show();
            $('#filtro').hide();
            $('#btnfiltro').removeClass('btn-primary').addClass('btn-default');
            $(this).removeClass('btn-default').addClass('btn-primary');
        });
        $('#btnfiltro').click(function () {
            $('#cat').hide();
            $('#filtro').show();
            $('#btncat').toggleClass('btn btn-primary').addClass('btn btn-default');
            $(this).removeClass('btn-default').addClass('btn-primary');
        });
    </script>

}
