@model IEnumerable<CamenMVC.Models.Documenti>
<img src="~/Content/Immagini/biblioteca.png" class="img-usr pull-left" />
<h2>Biblioteca Scuola Sintotermico Camen</h2>
<h4>Ricerca per categorie</h4>
@*Menu top navigazione ricerva files*@
<table class="table-menu">
    <tr>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("IndexUt", "Documentis")" class="label label-primary">Categoria</a><br />
                    <span>@Request.QueryString["cat"]</span>
                </label>
            </span>
        </td>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("Eventi", "Documentis", new {id = Request.QueryString["categoria"], categoria = Request.QueryString["categoria"], cat = Request.QueryString["cat"] })" class="label label-primary">Evento</a><br />
                    <span>@Request.QueryString["eve"]</span>
                </label>
            </span>
        </td>
        <td>
            <span>
                <label>
                    <a href="@Url.Action("Linee", "Documentis", new { id = Request.QueryString["categoria"], categoria = Request.QueryString["categoria"],
                            cat = Request.QueryString["cat"],
                            evento = Request.QueryString["evento"],
                            eve = Request.QueryString["eve"],
                            linea = Request.QueryString["linea"],
                            lin = Request.QueryString["lin"]
                        })" class="label label-primary">Area</a><br />
                    <span>@Request.QueryString["lin"]</span>
                </label>
            </span>

        </td>
        <td>
            <label class="label label-success">Sessioni</label>

        </td>
    </tr>
</table>

<table class="table table-hover">
    @foreach (var group in Model.GroupBy(item => item.Sessione))
    {
        <tr>
            <td class="h4">
                <a href="@Url.Action("Docpdf", "Documentis", new {
                    id = @group.Key.Sessione_Id,
                    categoria = Request.QueryString["categoria"],
                    cat = Request.QueryString["cat"],
                    evento = Request.QueryString["evento"],
                    eve = Request.QueryString["eve"],
                    linea = Request.QueryString["linea"],
                    lin = Request.QueryString["lin"],
                    sessione = @group.Key.Sessione_Id,
                    ses = @group.Key.Sessione
                })"
                   })" aria-expanded="false">
                    @group.Key.Sessione
                </a>
            </td>
        </tr>

    }
</table>
