@model CamenMVC.Models.Pagina

@{
    ViewBag.Title = "Nuova pagina";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Smenu_Id, "Sottomenu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="form-control">@Request.QueryString["SmenuId"]</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Posizione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model=>model.Posizione, new { @class="form-control", type="number"})
                @Html.ValidationMessageFor(model => model.Posizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contenuo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Contenuo, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Contenuo, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-success" />
                @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
