@model CamenMVC.Models.Pagina

@{
    ViewBag.Title = "Cancella pagina";
}

<h2>@ViewBag.Title</h2>
<h3>Se sicuro di voler cancellare la pagina?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestoSmenu.TestoSmenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestoSmenu.TestoSmenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenuo)
        </dt>

        <dd>
            @Html.Raw(Model.Contenuo)
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" />
            <a href="@Url.Action("Index", "Paginas", new {id = Request.QueryString["sm"] })" class="btn btn-success">Annulla</a>
        </div>
    }
</div>
