@model CamenMVC.Models.Pagina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestoSmenu.TestoSmenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestoSmenu.TestoSmenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenuo)
        </dt>

        <dd>
            @Html.Raw(Model.Contenuo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pagina_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
