@model IEnumerable<CamenMVC.Models.Pagina>

@{
    ViewBag.Title = "Index";
}

<h2>Lista pagine</h2>

<p>
    <span class="btn btn-primary"><span class="badge">@ViewBag.PaginasCount</span> Le pagine si creano direttamente dal sottomenu</span>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Pubblicato</th>
            <th>Id</th>
            <th>
                Menu
            </th>
            <th>
            </th>
        </tr>
    </thead>

@foreach (var item in Model)
{
@*controllo se la pagine è punbblicata e cambio il colore del testo*@
var testo = "";
if (item.Pubblica == true)
{
    testo = "text-success";
}
else
{
    testo = "text-danger";
}
    <tr class="@testo">
        <td>
            @if(item.Pubblica == true)
            {
                <span class="fa fa-thumbs-o-up"></span>
            }
            else
            {
                <span class="fa fa-thumbs-o-down"></span>
            }
        </td>
        <td>
            @item.Pagina_Id
        </td>
        <td>
                <span>@item.TestoSmenu.TestoMenu.TestoMenu <span class="fa fa-arrow-right"></span> @Html.DisplayFor(modelItem => item.TestoSmenu.TestoSmenu)</span>
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.Pagina_Id }, new { @class = "btn btn-xs btn-success" })
            @Html.ActionLink("Dettagli", "Details", new { id = item.Pagina_Id }, new { @class = "btn btn-xs btn-primary" })
            @Html.ActionLink("Cancella", "Delete", new { id = item.Pagina_Id }, new { @class = "btn btn-xs btn-danger" })
        </td>
    </tr>
}

</table>
