@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.Entity;
@using System.Linq;
@using System.Net;
@using System.Web;
@using System.Web.Mvc;
@using CamenMVC.Models;
@using Microsoft.AspNet.Identity;
@using System.Web.Security;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CAMEN Web-Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navi1">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")"><img class="img-logo-header" src="~/Content/Immagini/LogoHeaderBianco.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav btn-group">
                    @{
                        ApplicationDbContext db = new ApplicationDbContext();
                        //Inizio barra menu amministratore
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                var menu = db.Menus.OrderBy(n => n.Posizione).ToList();
                                ViewBag.Menu = menu;
                                foreach (var item in ViewBag.Menu)
                                {
                                    <li>
                                        @if (@item.Pubblica == true)
                                        {
                                            @Html.ActionLink(" ", "Edit", "Menus", new { id = item.Menu_Id }, new { @class = " glyphicon glyphicon-pencil" })<a href="#nogo" class="dropdown-toggle" data-toggle="dropdown">@item.TestoMenu<b class="caret"></b></a>
                                        }
                                        else
                                        {
                                            @Html.ActionLink(" ", "Edit", "Menus", new { id = item.Menu_Id }, new { @class = " glyphicon glyphicon-pencil" })<a href="#nogo" class="dropdown-toggle" data-toggle="dropdown"><b class="text-danger">@item.TestoMenu</b><b class="caret"></b></a>
                                        }
                                        @*Inizio barra sottomenu amministratore*@
                                        <ul class="dropdown-menu" role="menu">
                                            @foreach (var item1 in item.SottoMenus)
                                            {
                                                if (item1.Pubblica == true)
                                                {
                                                    <c><li>@Html.ActionLink(" ", "Edit", "Sottomenus", new { id = item1.Smenu_Id }, new { @class = " glyphicon glyphicon-pencil" })<a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })">@item1.TestoSmenu</a></li></c>

                                                }
                                                else
                                                {
                                                    <c><li>@Html.ActionLink(" ", "Edit", "Sottomenus", new { id = item1.Smenu_Id }, new { @class = " glyphicon glyphicon-pencil" })<a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })"><b class="text-danger">@item1.TestoSmenu</b> </a></li></c>
                                                }
                                            }

                                            <c><li><hr class="hr1" /><a class="glyphicon glyphicon-plus" href="@Url.Action("Create1", "SottoMenus", new { menu = item.Menu_Id })"></a></li></c>
                                        </ul>
                                        @*Fine barra sottomenu amministratore*@
                                    </li>
                                }
                                <li><a class="glyphicon glyphicon-plus" href="@Url.Action("Create", "Menus")"></a></li>
                            }
                        }
                        //Fine barra menu amministratore
                        //Inizio barra menu utenti
                        else
                        {
                            var menu = db.Menus.Where(n => n.Pubblica == true && n.Ruolo == "Anonimous").OrderBy(n => n.Posizione).ToList();
                            ViewBag.Menu = menu;
                            @*Inizio barra sottomenu utenti*@
                    foreach (var item in ViewBag.Menu)
                    {
                        <li>
                            <a href="#nogo" class="dropdown-toggle" data-toggle="dropdown">@item.TestoMenu<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item1 in item.SottoMenus)
                                        {
                                            if (item1.Pubblica == true)
                                            {
                                        <li><a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })">@item1.TestoSmenu </a></li>
                                            }
                                        }
                            </ul>
                        </li>
                            if (User.Identity.IsAuthenticated)
                            {
                            <li>
                                qui
                                <a href="#nogo">@item.Ruolo</a>
                            </li>
                            }
                        }
                    }
                    }
                    @*Fine barra menu utenti*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            </div>
    </div>
@*Inizio barra gestione utenti ruoli amministratore*@
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="navbar navbar-inverse navbar-fixed-bottom navi">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav btn-group">
                    <li><div><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag"><span>Gestione ruoli</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user"><span>Gestione utenti</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "Menus")" class="glyphicon glyphicon-option-horizontal"><span>Gestione menu</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "SottoMenus")" class="glyphicon glyphicon-option-vertical"><span>Gestione sottomenu</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "Paginas")" class="glyphicon glyphicon-modal-window"><span>Gestione pagine</span></a></div></li>
                </ul>
            </div>
        </div>
    </div>
}
@*Fine barra gestione utenti ruoli amministratore*@

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="pull-left">
                    &copy; @DateTime.Now.Year - CAMEN Web-Application<br />
                    <a href="mailto:info@camen.it" class="glyphicon glyphicon-envelope"> info@camen.it</a><br />
                    <strong>Associazione ST Camen</strong><br />
                    <h5>
                        <em>
                            Via S. Cristoforo, 3-5 20144 Milano<br />
                            P.I.: 04855900967 C.F.: 97380760153
                        </em><br />
                        Tel.: 000 000000
                    </h5>
                </div>
                <div class="pull-right">
                    <a href="http://www.cr-consult.eu"> <span>Almish<span style="color:#FF0000" lang="it">&amp;</span>Cesàre<span style="color:#FF0000">W</span>eb</span></a>

                </div>

            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/jquery.filtertable.min.js"></script>
        <script>
            $(document).ready(function () {
                $('table').filterTable();
            });
        </script>
</body>
</html>
