@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.Entity;
@using System.Linq;
@using System.Net;
@using System.Web;
@using System.Web.Mvc;
@using CamenMVC.Models;
@using Microsoft.AspNet.Identity;
@using System.Web.Security;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scuola CAMEN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>
@{
        ApplicationDbContext db = new ApplicationDbContext();
        //formattazione del menu per amministratore -ABBADONATO PER PROBLEMI DI SOVRAPPOSIZIONE DEL MENU CON LE PAGINE""
        var cl = "";
        if (User.IsInRole("Admin"))
        {
            cl = "navbar-inverse navi1";
        }
        else
        {
            cl = "navbar-inverse navi1";
        }
        //Menu per documenti riservati sulla destra
        if (User.Identity.IsAuthenticated)
        {
        <div>
            <a href="@Url.Action("IndexUt", "Documentis")" class="docu" title="Biblioteca documenti riservati">
                <img src="~/Content/Immagini/biblioteca.png" />
            </a>
        </div>
    }

    <div class="@cl">
        <a href="@Url.Action("Index", "Home")" class="pull-left"><img class="img-logo-header" src="~/Content/Immagini/LogoHeaderBianco.png" /></a>
        <div class="pull-right">@Html.Partial("_LoginPartial")</div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav btn-group">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*Inizio gruppo menu autenticati*@
                    if (User.IsInRole("Admin"))
                    {
                        //Inizio barra menu amministratore
                        var menu = db.Menus.OrderBy(n => n.Posizione).ToList();
                        foreach (var item in menu)
                        {
                            <li>
                                <span>
                                    @*Se non esistono sottomenu abilito il tasto elimina*@
                                    @if (item.SottoMenus.Count() == 0)
                                    {
                                        @Html.ActionLink(" ", "Delete", "Menus", new { id = item.Menu_Id }, new { @class = " glyphicon glyphicon-remove text-danger" })
                                    }
                                    @Html.ActionLink(" ", "Edit", "Menus", new { id = item.Menu_Id }, new { @class = " glyphicon glyphicon-pencil" })
                                </span>
                                @*Se il menu non è pubblicato lo scrivo in rosso*@
                                @if (@item.Pubblica == true)
                                {
                                    <a href="#nogo" class="dropdown-toggle" data-toggle="dropdown">@item.TestoMenu<b class="caret"></b></a>
                                }
                                else
                                {
                                    <a href="#nogo" class="dropdown-toggle" data-toggle="dropdown"><b class="text-danger">@item.TestoMenu</b><b class="caret"></b></a>
                                }
                                @*Inizio barra sottomenu amministratore*@
                                <ul class="dropdown-menu" role="menu">
                                    @foreach (var item1 in item.SottoMenus.OrderBy(o => o.Posizione))
                                    {
                                        if (item1.Pubblica == true)
                                        {
                                            <c><li>@Html.ActionLink(" ", "Edit", "Sottomenus", new { id = item1.Smenu_Id }, new { @class = " glyphicon glyphicon-pencil" })<a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })">@item1.TestoSmenu</a></li></c>

                                        }
                                        else
                                        {
                                            <c><li>@Html.ActionLink(" ", "Edit", "Sottomenus", new { id = item1.Smenu_Id }, new { @class = " glyphicon glyphicon-pencil" })<a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })"><b class="text-danger">@item1.TestoSmenu</b> </a></li></c>
                                        }
                                    }
                                    <c>
                                        <li>
                                            <hr class="hr1" />
                                            <a class="glyphicon glyphicon-plus" href="@Url.Action("Create1", "SottoMenus", new { menu = item.Menu_Id })"></a>
                                        </li>
                                    </c>
                                </ul>
                                @*Fine barra sottomenu amministratore*@
                            </li>
                        }
                        <li>
                            <a class="glyphicon glyphicon-plus" href="@Url.Action("Create", "Menus")"></a>
                        </li>
                    }
                    else
                    {
                        //Inizio barra menu dei ruoli non amministratore
                        var roles = db.Roles.Where(r => r.Name != "Admin").ToList();
                        foreach (var rolesitem in roles)
                        {
                            var ruolo = rolesitem.Name;
                            if (User.IsInRole(ruolo))
                            {
                                var menu = db.Menus.Include(e => e.MenuRuoli).Where(n => n.Pubblica == true && n.Ruolo == ruolo).OrderBy(n => n.Posizione).ToList();
                                foreach (var item in menu)
                                {
                                    <li>
                                        <a href="#nogo" class="dropdown-toggle" data-toggle="dropdown">@item.TestoMenu<b class="caret"></b></a>
                                        @*Inizio barra sottomenu dei ruoli non amministratore *@
                                        <ul class="dropdown-menu" role="menu">
                                            @foreach (var item1 in item.SottoMenus.OrderBy(o => o.Posizione))
                                            {
                                                if (item1.Pubblica == true)
                                                {
                                            <li>
                                                <a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })">@item1.TestoSmenu </a>
                                            </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    }
                                }

                            }
                        }
                    }
                    @*Fine gruppo menu autenticati*@
                    @*Inizio barra menu utenti anonimi*@
                    else
                    {
                        var menu = db.Menus.Include(e => e.MenuRuoli).Where(n => n.Pubblica == true && (n.Ruolo == "Anonimous")).OrderBy(n => n.Posizione).ToList();
                        foreach (var item in menu)
                        {
                            <li>
                                <a href="#nogo" class="dropdown-toggle" data-toggle="dropdown">@item.TestoMenu<b class="caret"></b></a>
                                @*Inizio barra sottomenu utenti anonimi*@
                                <ul class="dropdown-menu" role="menu">
                                    @foreach (var item1 in item.SottoMenus.OrderBy(o => o.Posizione))
                                    {
                                        if (item1.Pubblica == true)
                                        {
                                            <li>
                                                <a href="@Url.Action("IndexUt", "Paginas", new { id = @item1.Smenu_Id })">@item1.TestoSmenu </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                    <li>
                        <a href="@Url.Action("IndexAn", "Documentis")" class="fa fa-file-pdf-o fa-2x" title="Vedi documenti"></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")" class="fa fa-info-circle fa-2x" title="Contatti"></a>
                    </li>
                    @*Fine barra menu utenti anonimi*@
                </ul>
            </div>
        </div>
    </div>
}


    @if (ViewBag.Title == "Home")
    {
        <div id="bg">
        </div>
    }
    else
    {
        <div id="bg1">

        </div>
    }
        <div class="container body-content">

            @RenderBody()
            @if (!User.IsInRole("Admin"))
            {
                <footer>

                    <div class="navbar-fixed-bottom foot">
                        <div class="row">
                            <div class="col col-md-4">
                                <a href="@Url.Action("Index", "Home")" class="pull-left" title="Home page"><img class="img-logo-header" src="~/Content/Immagini/LogoHeaderBianco.png" /></a>
                                <p class="pull-left">
                                    <strong>Associazione Sintotermico Camen</strong><br /><span>Via S. Cristoforo, 3-5 20144 Milano</span>

                                </p>

                            </div>
                            <div class="col col-md-4">
                                <label><a href="~/Content/Documenti/36_Privacy.pdf" target="_blank" class="text-info">Documento privacy</a></label><br/>
                                <label><a href="~/Content/Documenti/21_NoteLegali.pdf" target="_blank" class="text-info">Note legali</a></label>
                            </div>
                            <div class="col col-md-4">
                                <span class="pull-right">
                                    <a href="http://www.cr-consult.eu" title="Web Master"> <span>Almish<span style="color:#FF0000" lang="it">&amp;</span>Cesàre<span style="color:#FF0000">W</span>eb</span></a>

                                </span>

                            </div>
                        </div>
                   </div>
                </footer>

            }
                @*<footer>
                <div class="pull-left">
                    &copy; @DateTime.Now.Year - CAMEN Web-Application<br />
                    <a href="mailto:info@camen.it" class="glyphicon glyphicon-envelope"> info@camen.it</a><br />
                    <strong>Associazione ST Camen</strong><br />
                    <h5>
                        <em>
                            Via S. Cristoforo, 3-5 20144 Milano<br />
                            P.I.: 04855900967 C.F.: 97380760153
                        </em><br />
                        Tel.: 000 000000
                    </h5>
                </div>
                <div class="pull-right">
                    <a href="http://www.cr-consult.eu"> <span>Almish<span style="color:#FF0000" lang="it">&amp;</span>Cesàre<span style="color:#FF0000">W</span>eb</span></a>

                </div>

            </footer>*@
            </div>

@*Inizio barra amministratore bottom - gestione utenti ruoli menu splash documenti*@
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="navbar navbar-inverse navbar-fixed-bottom navi">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav btn-group">
                    <li><div><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag"><span>Gestione ruoli</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user"><span>Gestione utenti</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "Menus")" class="glyphicon glyphicon-option-horizontal"><span>Gestione menu</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "Splashes")" class="glyphicon glyphicon-credit-card"><span>Gestione splash</span></a></div></li>
                    <li><div><a href="@Url.Action("Index", "Documentis")" class="fa fa-file-pdf-o"><span>Gestione documenti</span></a></div></li>
                </ul>
            </div>
        </div>
    </div>
}
    @*Fine barra barra amministratore bottom - gestione utenti ruoli*@

   
         @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/jquery.filtertable.min.js"></script>
        <script>
            $(document).ready(function () {
                $('table').filterTable();
            });
        </script>
</body>
</html>
