@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right navi2">
        <li>
            <div class="pull-right">
                <a href="@Url.Action("IndexUs", "UsersAdmin")">
                    @if (File.Exists(Server.MapPath("~/Content/Immagini/FotoIscritti/" + @User.Identity.GetUserId() + ".jpg")))
                    {
                        <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + @User.Identity.GetUserId() + ".jpg")" /><span>Gestisci profilo</span>

                    }
                    else
                    {
                        <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/Anonimous.jpg")" /><span>@User.Identity.Name <br/>Gestisci profilo</span>
                    }
                </a>
            </div>
            <div class="pull-right">
                <h4><a href="javascript:document.getElementById('logoutForm').submit()" class="glyphicon glyphicon-log-out"><span>Logout</span></a></h4>
            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right navi2">
        <li>
            <div class="pull-right">
                <h4><a href="#nogo" class="glyphicon glyphicon-check" hreflang="@Url.Action("Register", "Account", new {id = "registerLink"})"><span>Registrati</span></a></h4>
            </div>
            <div class="pull-right">
                <h4><a id="loginlink" class="glyphicon glyphicon-log-in" href="@Url.Action("Login", "Account")"><span>Login</span></a></h4>
            </div>
        </li>
    </ul>
}
